<table class="table table-striped table-bordless table-sm">

  <tr class= 'table-primary'>
    <th scope="col">#</th>
    <th scope="col">Miles Ran</th>
    <th scope="col">Duration In Minutes</th>
  </tr>
{{#each runs as |run|}}
  {{log book}}





    <tr class= 'table-light'>
      <th scope="row">{{run.id}}</th>
      <td>{{run.miles_ran}}</td>
      <td>{{run.duration_in_minutes}}</td>
    </tr>



{{/each}}

</table>
