@import '~bootstrap/scss/bootstrap';

.success {
  color: green;
}

.failure {
  color: red;
}

body {
  background: url(image.png) no-repeat center center fixed;
  background-size: 100% 100%;
  color: red;
}

.navbar {
  color: white;
}

.message {
  text-align: center;
}

.h2signout {
  align-items: ce
}
